body {background-color: #F5F5F5;}
.main-header-block {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.index-images{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top:1%;

}
a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width:70%;
    height:70%;  
}
footer{
    margin-top:1%;
}



