body {
    background-color: #f4ede7;
}
.main-header-block{
    display: flex;
    background-color: #965c5b;
    justify-content: center;
    margin: 8px auto;
}
.index-images{
    background-color: antiquewhite;
    justify-content: center;
    display: flex;
    gap: 8px;
    flex: 40 0 0;


}